@use "../custom" as *;

.card {
    width: auto;
    box-shadow: 2px 2px 7px $gray-400;
}

.card:hover {
    transform: scale(0.90, 0.90);
}

.card-img-top {
    align-self: center;
    width: 50%;
}

.card-footer {
    padding: 0;
    background-color: transparent;
    border-top: 0.4rem dotted $card-border-color;
}

.move-firefox {
    top: 50px;
}

.move-opera {
    top: 100px;
}