@use '../custom' as *;

.bg-dark {
    background: $bg-color !important;
    
}

.change-color:hover path {
    fill: $secondary !important;
}

input::placeholder {
    text-align: left;
}

.validation {
    margin-top: 0%;
    color: white;
    background-color: $secondary;
}

.was-validate {
    background-image: url(../../Imagenes/icon-error.svg) !important;
}

