@use "../custom" as *;

.img-shape-hero {
  background: $primary;
  width: 75%;
  height: 75%;
  bottom: 1px;
  left: 25%;
  border-radius: 0 0 0 150px;
  z-index: -1;
  
}

.img-pos {
  z-index: 1;
}
