@use "../custom" as *;

.img-bg-shape-hero {
  background: $primary;
  width: auto;
  height: 200px;
  position: relative;
  top: 150px;
  border-radius: 0 0 0 150px;
}

.img-container {
  position: relative;
  z-index: 1;
}
